<span class="biggest">Game Over</span>
<br /><br />
<%=summary%>
<br /><br />
<button class="button buttonSpecial" id="restart">Restart</button>
<button class="button buttonSpecial" id="quit">Quit to menu</button>