<div id="playersDiv">
	<%= $.View('//nextcard/views/game/showPlayers',{players: players})%>
</div>

<div id="cardWrapperDiv">
	<div id="cardDiv">
		<img id="cardImg" src="images/<%= card.GetColor() + card.GetValue()  %>.png">
	</div>
</div>

<div id="pointsWrapperDiv">
	<div id="pointsDiv">
	</div>
</div>
<div id="gameInfo">
	<div id="cardsLeftDiv">
		<%= $.View('//nextcard/views/game/showCardsLeft',{cardsLeft: cardsLeft})%>
	</div>
	
	<button type="button" id="under">Under</button>
	<button type="button" id="over">Over</button>
</div>

<br /><br />

<!--<button type="button" id="listCards">List cards</button>-->